<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Annual Art Exhibition 2015</title>
    <meta name="description" content="Annual Art Exhibition 2015. University of Development Alternative, UODA, Dhaka." />
    <meta property="og:site_name" content="Annual Art Exhibition 2015" />
    <meta property="og:title" content="Annual Art Exhibition 2015" />
    <meta property="og:url" content="https://www.heartmath.com/copyrights-and-trademarks/" />
    <meta property="og:description" content="Annual Art Exhibition 2015. University of Development Alternative, UODA, Dhaka." />
 <% include head.ejs %>
        <style type="text/css">
        body {
            width: 80%;
            margin: auto;
        }
        </style>

</style>
</head>

<body>
    <nav class="nav">
        <a class="nav-link active" href="/upload">Upload</a>
        <a class="nav-link" href="/">Home</a>
    </nav>
    
<pre>

<%- data %>

</pre>


</body>

</html>