


<div class="app-navigation">
        <div class="navigation-holder">
            <a href="/" class="navigation-link"><span><img src="http://uodaartexhibition2015.ml/anual-art-exhibition-logo-horizontal.svg" class="toplogo" alt="Exhibition Logo"></span></a>
            <a href="/" class="navigation-link"><span><i class="fa fa-home" aria-hidden="true"></i> Home</span></a>
            <a href="/most-viewed" class="navigation-link "><span><i class="fa fa-bar-chart" aria-hidden="true"></i> Most Viewed</span></a>
           <!--  <a href="/about" class="navigation-link "><span>About</span></a> -->
        </div>
    </div>





