<!DOCTYPE html>
<html>

<head>
	
	<% include head.ejs %>

<style type="text/css">
	body {
		width: 80%;
		margin: auto;
	}
</style>
</head>
<body>


<nav class="nav">
  <a class="nav-link active" href="#">Active</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link disabled" href="#">Disabled</a>
</nav>


<h1>Upload data</h1>
<form action="/upload" method="post">

<div class="form-group">
   <label>Decade</label>
  <input type="text" class="form-control" name="decade" value="" placeholder="Enter email">
  </div>


<div class="form-group">
   <label>Artist</label>
  <input type="text" class="form-control" name="artist" value="" placeholder="Enter Artist">
  </div>


<div class="form-group">
   <label>Sont</label>
  <input type="text" class="form-control" name="song" value="" placeholder="Enter Song">
  </div>


<div class="form-group">
   <label>Category</label>
  <input type="text" class="form-control" name="Category" value="" placeholder="Enter Category">
  </div>



<div class="form-group">
   <label>WeekAtOne</label>
  <input type="text" class="form-control" name="weeksAtOne" value="" placeholder="Enter weeksAtOne">
</div>



<div class="form-group">
   <label>Age</label>
  <input type="text" class="form-control" name="age" value="" placeholder="Enter age">
</div>



  <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
</form> 



<ul>
	<ul><a href="/">Home</a></ul>
	<ul><a href="/upload">Home</a></ul>
</ul>
</body>
</html>
