<!DOCTYPE html>
<html>

<head>
	
	<% include head.ejs %>

<style type="text/css">
	body {
		width: 80%;
		margin: auto;
	}
</style>
</head>
<body>

<h1>Upload data</h1>
<form action="/upload" method="post">

<div class="form-group">
   <label>Decade</label>
  <input type="text" class="form-control" name="decade" value="" placeholder="Enter email">
  </div>
  Artist:<br>
  <input type="text" name="artist" value="">
  <br>
    Song:<br>
  <input type="text" name="song" value="">
  <br>
      Category:<br>
  <input type="text" name="category" value="">
  <br>
    WeekAtOne:<br>
  <input type="text" name="weeksAtOne" value="">
  <br>


<div class="form-group">
   <label>Age</label>
  <input type="text" class="form-control" name="age" value="" placeholder="Enter age">
  </div>



  <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
</form> 



<ul>
	<ul><a href="/">Home</a></ul>
	<ul><a href="/upload">Home</a></ul>
</ul>
</body>
</html>
